<div style="text-align: center">
  <div class="header">
    <a routerLink="/">
      <img src="../assets/shift-schedule-logo.png" alt=""/>
    </a>
    <h1>
      Der professionelle Schichtplan für Dein Team
    </h1>
    <span class="command-link"
          *ngIf="!loggedIn"
          (click)="socialSignIn('google')">Login</span>
    <span class="command-link"
          *ngIf="loggedIn"
          (click)="socialSignOut()">{{user.firstName}}</span>
  </div>
  <nav >
    <p *ngIf="!loggedIn">To proceed, please log in</p>
    <a *ngIf="loggedIn" routerLink="/teams">Teams</a>
  </nav>
  <div class="main-content">
    <router-outlet *ngIf="loggedIn"></router-outlet>
  </div>
</div>
